{% extends 'layout/base.html' %}

{% block title %}Thanh toán hóa đơn{% endblock %}

{% block content %}
<div class="container mx-auto px-10 py-8">
    <h1 class="text-center text-3xl font-bold mb-4">Thanh toán hóa đơn</h1>

    <div class="mb-4">
        <form action="#" method="get">
            <div class="relative overflow-x-auto shadow-lg border-gray-200 border rounded-lg">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Tên bệnh nhân
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Ngày lập
                        </th>
                        <th scope="col" class="px-6 py-3">
                            ID phiếu khám
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Tiền khám
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Tiền thuốc
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Số lượng
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Tổng tiền
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for l in list_examination %}
                    <tr class="bg-white border-b record">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            {{ l[0] }}
                        </th>
                        <td class="px-6 py-4">
                            {{ l[1] }}
                        </td>
                        <td class="px-6 py-4">
                            {{ l[2] }}
                        </td>
                        <td class="px-6 py-4">
                            {{ "{:,.1f}".format(l[3] or 0) }} VND
                        </td>
                        <td class="px-6 py-4">
                            {{ "{:,.1f}".format(l[4] or 0) }} VND
                        </td>
                        <td class="px-6 py-4">
                            {{ l[5] }}
                        </td>
                        <td class="px-6 py-4">
                            {{ "{:,.1f}".format(l[6] or 0) }} VND
                        </td>
                        <td class="px-6 py-4">
<!--                             truyen phieu vao trag pay-->
                       <button type="button" onclick="pay('{{ l[2] }}',  '{{ l[6] }}')"
                                    class="mt-4 focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-2 py-2 me-1 mb-1">
                                Thanh toán
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </form>
    </div>
</div>

{% endblock %}